.products{
    width: 100%;
}
.product0{
    width: 365px;
    height: 230px;
    display: inline-block;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.product0 img{
    width: 210px;
    padding: 15px;
    height: 200px;
}
.product1{
    border-radius: 10px;
    width: 365px;
    height: 230px;
    display: inline-block;
    margin-left: 30px;
    background-color: white;
    text-align: center;
}
.product1 img{    
    width: 210px;
    padding: 15px;
    height: 200px;
}
.product2{
    border-radius: 10px;
    width: 365px;
    display: inline-block;
    height: 230px;
    margin-left: 30px;
    background-color: white;
    text-align: center;
}
.product2 img{
    width: 210px;
    padding: 15px;
    height: 200px;
}
.product0 span{
    font-size: 13px;
}
.product1 span{
    font-size: 13px;
}
.product2 span{
    font-size: 13px;
}
.price0{
    font-size: 25px;
    margin-left: 10px;
    color: orangered;
}
.price1{
    font-size: 25px;
    margin-left: 10px;
    color: orangered;
}
.price2{
    font-size: 25px;
    margin-left: 10px;
    color: orangered;
}